{% extends "layout/main.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <span class="page-title">个人设置</span>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="username" class="col-sm-1 control-label">用户名</label>
                <div class="col-sm-4">
                    <input id="username" class="form-control" type="text" value="{{ profile.username }}" placeholder="用户名" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-1 control-label">邮件地址</label>
                <div class="col-sm-4">
                    <input id="email" class="form-control" type="text" value="{{ profile.email }}" placeholder="邮件地址">
                </div>
            </div>
            <div class="form-group">
                <label for="nickname" class="col-sm-1 control-label">姓名</label>
                <div class="col-sm-4">
                    <input id="nickname" class="form-control" type="text" value="{{ profile.nickname or '' }}" placeholder="姓名">
                </div>
            </div>
            <div class="form-group">
                <label for="dept" class="col-sm-1 control-label">部门</label>
                <div class="col-sm-4">
                    <input id="dept" class="form-control" type="text" value="{{ profile.dept or '' }}" placeholder="部门">
                </div>
            </div>
            <div class="form-group">
                <label for="login_time" class="col-sm-1 control-label">登录时间</label>
                <div class="col-sm-4">
                    <input id="login_time" class="form-control" type="text" value="{{ handler.format_time(profile.login_time) }}" placeholder="登录时间" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="login_ip" class="col-sm-1 control-label">登录IP</label>
                <div class="col-sm-4">
                    <input id="login_ip" class="form-control" type="text" value="{{ profile.login_ip or '' }}" placeholder="登录IP" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="button" class="btn btn-primary pull-right" id="save_btn"><i class="fa fa-check fa-fw"></i>保 存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}