{% extends "layout/main.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <span class="page-title">系统设置</span>
        <span class="pull-right">
            <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus fa-fw"></i>按钮</button>
        </span>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">License</label>
                <div class="col-sm-4">
                    <input id="" class="form-control" type="text" placeholder="License" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">主DNS</label>
                <div class="col-sm-4">
                    <input id="" class="form-control" type="text" placeholder="主要DNS">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">辅DNS</label>
                <div class="col-sm-4">
                    <input id="" class="form-control" type="text" placeholder="辅助DNS">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">联系人</label>
                <div class="col-sm-4">
                    <input id="" class="form-control" type="text" placeholder="联系人邮件（在SOA记录显示）">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">RNDC主机</label>
                <div class="col-sm-4">
                    <input id="" class="form-control" type="text" placeholder="RNDC主机">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">RNDC端口</label>
                <div class="col-sm-4">
                    <input id="" class="form-control" type="text" placeholder="RNDC端口">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">RNDC Algo</label>
                <div class="col-sm-4">
                    <input id="" class="form-control" type="text" placeholder="RNDC Algo">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">RNDC Key</label>
                <div class="col-sm-4">
                    <input id="" class="form-control" type="text" placeholder="RNDC Key">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="button" class="btn btn-primary pull-right" id="save_btn"><i class="fa fa-check fa-fw"></i>保 存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}