{% extends "layout/main.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <span class="page-title">系统管理</span>
        <span class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" onclick="location.reload();" title="刷新系统状态"><i class="fa fa-refresh fa-fw"></i> 刷新</button>
        </span>
        <hr>
    </div>
</div>
<div class="row">
    {% if error %}
    <div class="col-lg-12" style="margin-bottom:12px;">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error }}
        </div>
    </div>
    {% endif %}
    <div class="col-lg-12">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bandcamp fa-fw"></i> 系统状态</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="javascript:void(0);" class="list-group-item">
                            <span class="badge">{{ handler.app_version }}</span>
                            <i class="fa fa-fw fa-tag"></i> 系统版本
                        </a>
                        <a href="javascript:void(0);" class="list-group-item">
                            <span class="badge">{{ status['version'] }}</span>
                            <i class="fa fa-fw fa-info-circle"></i> Bind版本
                        </a>
                        <a href="javascript:void(0);" class="list-group-item">
                            <span class="badge">{{ status['uptime'] }}</span>
                            <i class="fa fa-fw fa-clock-o"></i> 启动时间
                        </a>
                        <a href="javascript:void(0);" class="list-group-item">
                            <span class="badge">{{ status['running'] }}</span>
                            <i class="fa fa-fw fa-truck"></i> 运行状态
                        </a>
                    </div>
                    <!--<div class="text-right">
                        <a href="javascript:void(0);">More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-toggle-right fa-fw"></i> 管理操作</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="javascript:void(0);" class="list-group-item" title="rndc reload">
                            <span class="badge">执行</span>
                            <i class="fa fa-fw fa-refresh"></i> 重载
                        </a>
                        <a href="javascript:void(0);" class="list-group-item" title="rndc reconfig">
                            <span class="badge">执行</span>
                            <i class="fa fa-fw fa-history"></i> 重载配置
                        </a>
                        <a href="javascript:void(0);" class="list-group-item" title="rndc flush">
                            <span class="badge">执行</span>
                            <i class="fa fa-fw fa-recycle"></i> 刷新缓存
                        </a>
                        <a href="javascript:void(0);" class="list-group-item" title="rndc status">
                            <span class="badge">执行</span>
                            <i class="fa fa-fw fa-sun-o"></i> Named状态
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}