{% extends "layout/main.html" %}
{% block head %}
<style>
.title-box-1 {
    display: inline-block;
    width: 90px;
}
.title-box-2 {
    display: inline-block;
    width: 120px;
}
.justgage-box {
        width: 160px;
        height: 160px;
        display: inline-block;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <span class="page-title">DNStack</span>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="margin-bottom:26px;">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            欢迎您，{{ handler.session.get('nickname') }}！您上次登录时间为：{{ handler.format_time(handler.session.get('login_time')) }}，登录IP：{{ handler.session.get('login_ip') }}
        </div>
    </div>
    <div class="col-sm-3" style="text-align: center;">
        <div id="domain_count" class="justgage-box" data-v="{{ data.domain }}"></div>
        <div>域名</div>
    </div>
    <div class="col-sm-3" style="text-align:center;">
        <div id="record_count" class="justgage-box" data-v="{{ data.record }}"></div>
        <div>记录</div>
    </div>
    <div class="col-sm-3" style="text-align: center;">
        <div id="group_count" class="justgage-box" data-v="{{ data.group }}"></div>
        <div>分组</div>
    </div>
    <div class="col-sm-3" style="text-align: center;">
        <div id="user_count" class="justgage-box" data-v="{{ data.user }}"></div>
        <div>用户</div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="{{ static_url('justgage/raphael-2.1.4.min.js') }}"></script>
<script src="{{ static_url('justgage/justgage.js') }}"></script>
<script>
$(function(){
    var _init = function(){

        var domain_value = $('#domain_count').data('v');
        var domain_count = new JustGage({
            id: "domain_count",
            defaults: {
                //label: "",
                value: domain_value,
                valueFontColor: '#FF00FF',
                min: 0,
                max: domain_value,
                decimals: 0,
                gaugeWidthScale: 0.2,
                pointer: false,
                counter: true,
                donut: true,
                relativeGaugeSize: true,
                levelColors: ["#FF00FF"],
                textRenderer: function(val) {
                    //return (val + '%');
                    return val;
                }
            }
        });

        var record_value = $('#record_count').data('v');
        var record_count = new JustGage({
            id: "record_count",
            defaults: {
                //label: "",
                value: record_value,
                valueFontColor: '#4169E1',
                min: 0,
                max: record_value,
                decimals: 0,
                gaugeWidthScale: 0.2,
                pointer: false,
                counter: true,
                donut: true,
                relativeGaugeSize: true,
                levelColors: ["#4169E1"]
            }
        });

        var group_value = $('#group_count').data('v');
        var group_count = new JustGage({
            id: "group_count",
            defaults: {
                //label: "",
                value: group_value,
                valueFontColor: 'orange',
                min: 0,
                max: group_value,
                decimals: 0,
                gaugeWidthScale: 0.2,
                pointer: false,
                counter: true,
                donut: true,
                relativeGaugeSize: true,
                levelColors: ["orange"]
            }
        });

        var user_value = $('#user_count').data('v');
        var user_count = new JustGage({
            id: "user_count",
            defaults: {
                //label: "",
                value: user_value,
                valueFontColor: '#d9534f',
                min: 0,
                max: user_value,
                decimals: 0,
                gaugeWidthScale: 0.2,
                pointer: false,
                counter: true,
                donut: true,
                relativeGaugeSize: true,
                levelColors: ["#d9534f"]
            }
        });
    };
    _init();
});
</script>
{% endblock %}