<ul class="nav navbar-nav side-nav">
    <li>
        <a href="/"><i class="fa fa-fw fa-dashboard"></i> 控制中心</a>
    </li>
    <li>
        <a href="/domain"><i class="fa fa-fw fa-eercast"></i> 域名管理</a>
    </li>
    <li>
        <a href="/record"><i class="fa fa-fw fa-link"></i> 解析管理</a>
    </li>
    <li>
        <a href="/group"><i class="fa fa-fw fa-object-group"></i> 分组管理</a>
    </li>
    <li>
        <a href="/count"><i class="fa fa-fw fa-bar-chart"></i> 数据分析</a>
    </li>
    <li>
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#setting"><i class="fa fa-fw fa-gear"></i> 设置 <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="setting" class="collapse">
            <li>
                <a href="/setting">系统设置</a>
            </li>
            <li>
                <a href="/user/profile">个人资料</a>
            </li>
            <li>
                <a href="/user/passwd">修改密码</a>
            </li>
            <li>
                <a href="/blank"><i class="fa fa-fw fa-file"></i> 空白页面</a>
            </li>
        </ul>
    </li>
</ul>