<ul class="nav navbar-nav side-nav">
    <li>
        <a href="/"><i class="fa fa-fw fa-dashboard"></i> 控制中心</a>
    </li>
    <li>
        <a href="/domain"><i class="fa fa-fw fa-bar-chart-o"></i> 域名管理</a>
    </li>
    <li>
        <a href="/record"><i class="fa fa-fw fa-table"></i> 解析管理</a>
    </li>
    <li>
        <a href="/group"><i class="fa fa-fw fa-edit"></i> 分组管理</a>
    </li>
    <li>
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> 系统设置 <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
            <li>
                <a href="#">系统</a>
            </li>
            <li>
                <a href="#">个人</a>
            </li>
        </ul>
    </li>
    <li class="active">
        <a href="/blank"><i class="fa fa-fw fa-file"></i> Blank Page</a>
    </li>
</ul>