<ul class="nav navbar-right top-nav">
    <li class="dropdown">
        <a href="https://github.com/kkstu/DNStack/issues" target="_blank"><i class="fa fa-question-circle"></i> 帮助</a>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Username <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="/user/profile"><i class="fa fa-fw fa-info-circle"></i> 个人资料</a>
            </li>
            <li>
                <a href="/user/passwd"><i class="fa fa-fw fa-lock"></i> 修改密码</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/user/logout"><i class="fa fa-fw fa-power-off"></i> 退出</a>
            </li>
        </ul>
    </li>
</ul>